body {
    /* отмена выделения */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    margin: 0;
    background: url(typewriter.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 0 100px 100px;
    padding: 5px;
    text-align: center;
    font-family: cursive;
}

@font-face {
    font-family: TrixieCyr-Plain; /* Имя шрифта */
    src: url(TrixieCyr-Plain.otf); /* Путь к файлу со шрифтом */
}

#logo {
    font-family: TrixieCyr-Plain, Consolas, Menlo, Monaco, monospace;
    color: white;
    font-size: 40px;
    text-shadow:
    0 0 10px #010805,
    0 0 20px #010805,
    0 0 30px #010805;
}

.lnk {
    text-decoration: inherit;
    color: inherit;
}

.lnk:hover {
    text-decoration: underline;
    cursor: pointer;
    color: inherit;
}

#text {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100px 100px 100px 100px;
    position: static;
    color: #210805;
    font-family: TrixieCyr-Plain, Consolas, Menlo, Monaco, monospace;
    overflow-wrap: normal;
    font-size: 0;
    word-wrap: normal;
    word-break: normal;
    line-break: auto;
    hyphens: manual;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition : all 2s linear;
}

.letter {
    font-family: TrixieCyr-Plain, Consolas, Menlo, Monaco, monospace;

    text-align: center;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 500px 500px 500px 500px;
    margin-top: 150px;
    padding-left: 2%;
    padding-right: 2%;
    color: rgba(33, 8, 5, 0);
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
}

#title-letters{
    visibility: visible;
    color: rgba(0, 0, 0, .0);
    -moz-transition: all 3s linear;
    -o-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
}

.timer {
    font-size: 20px;
    color: red;
    text-align: center;
}

#info {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 500px 500px 0 0;
    padding: 1%;
}

#information{
    color: rgba(51, 51, 51, 0.8);
}

.range {
    visibility: hidden;
}

label {
    display: block;
}

.text-bold {
    font-weight: bold;
}

.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.text-parent {
    height: 70%;
}

#animate {
    border: 20px inset;
    padding: 20px;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    border-radius: 100px 100px 100px 100px;
    visibility: hidden;
    justify-content: center;
    text-align: center;
    font-size: 55px;
}


